#brand{
    color:black;
    text-decoration: none;
    font-size: 40px;
    font-family: brandFont;
    
}
#footerLogo{
    color:white;
    text-decoration: none;
    font-size: 30px;
    font-family: brandFont;
    opacity: 75% ;
}
.a:hover #brand{
    opacity: 75% ;  
}
#shipBar{ 
    margin: auto;
    background-color: gray;
    text-align: center;  
    width: 61%;
    border-radius: 3%;
}
.cartButton{
    background-color: black;
}
border{
    background-color: #F8F8F8;
    border-radius: 3px;
    border: 2px solid #E8E8E8;
}
@font-face {
    font-family: brandFont;
    src: url(font/Painting_With_Chocolate.ttf);
}